<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="https://jhancock532.github.io/link-hover-effects/">Three</a>
  </div>

<div class="background-two link-container">
  <a class="link-two" href="https://jhancock532.github.io/link-hover-effects/">Fancy</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Links</a>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
<h1 style="color: black;">Counter With Angular</h1>
<button style="background-color: blueviolet; height: 75px;width: 100px; font-size: 40px;" (click)="counter('minus')">--</button>
<p style="position: relative;font-size: 35px; left: 100px;">Count : {{count}}</p>
<button style="background-color: green; height: 75px;width: 100px; font-size: 40px;" (click)="counter('add')">++</button>
</div>

