<div class="content">
    <h2> About Me </h2>
    <p>
      I'm an undergraduate student from IJSE. I'm very passionate and hard working
individual who has a deep interest in the field of Sofware Engineering and willing to embrance
evolving cutting-edge technologies self-driven 
individual who is motivated by understanding deficiencies
in own skills and fast learning. I'm currently learning on react is and Mobile
Application Development. I am the type of person
who seizes every opportunity to learn something new.
my career goal is to fulfill the responsibilities in the
software engineering industry and build my career path.
    </p>
    <div class="mypic"></div>
    <!-- <img src="../images/photo_2023-07-11_10-18-12.jpg" alt="first slide" style="position: relative; width: 50%;"> -->
    <!-- <a href=""> Facebook </a> 
   
    <a href=""> LinkedIn </a> 
   
    <a href=""> Instagram </a>  -->
   
   </div>
